.card_container {
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}


.card_pay {
    background: blanchedalmond;
    padding: 20px;
    margin: 30px;
    width: 250px;
    box-sizing: border-box;
}